body {
    background-color: #478732;
}
h1 {
    color:#2a9c05;
    text-align: center;
}
h2 {
    color:#a1ff82;
    text-align: center;
}
a {
    color:#a8e892;
}
p {
    color:#2eb302;
    font-size: 20px;
}
h3 {
    color:#63a14f;
    text-align: center;
}
